nav.header__menu
  ul.menuList
    li.menuList__item
      a(class="menuList__link" href="#0") О нас
    li.menuList__item
      a(class="menuList__link" href="#0") Услуги
      a(class="menuList__link-more" href="#0")
        svg(class="iconArrMore")
          use(xlink:href="#iconMore")          
    li.menuList__item
      a(class="menuList__link" href="#0") Вакансии
    li.menuList__item
      a(class="menuList__link" href="#0") Новости
    li.menuList__item
      a(class="menuList__link" href="#0") Соглашения
      a(class="menuList__link-more" href="#0")
        svg(class="iconArrMore")
          use(xlink:href="#iconMore")