extends ../../library

include btn 
block btn-block 

  
  +btn('btn-withArrow btn-library', '', 'Перейти к оплате', 'btn__arrowBtn')

  +btn('btn-transparent header__btn-transparent', '#', 'CLICK ME')
     
  +btn('header__btn', '#', 'CLICK ME')