include ../fieldInput/fieldInput
+fieldInput('datesHosting__field datepicker-here','text', '','ДД.ММ.ГГГГ', '-')
  a(class="datesHosting__arrowMore")
    svg(class="arrowMore")
      use(xlink:href="#iconMore") 



  


