.form {
  //margin-left: 40px; //позиционирование для ui-кита
  //margin-bottom: 40px; //позиционирование для ui-кита   
  max-width: 380px;
  min-width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;      
  padding: 40px 30px 32px 30px;
  box-sizing: border-box;
  
  &__h1{
    margin-bottom: 20px;
  }
  &__fieldInput{
    margin-bottom: 10px;
  }

  &__data{
    margin-top: 20px;
  }  

  &__btn {
    margin-top: 20px;
  }
  
  &__btn-transparent {
    width: 99px;
    height: 44px;
  }

  &__radioBtn {
    margin-bottom: 20px;
    }

  &__container {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;  
  }  
};

