form.form(action='#', method='GET')

  include ../h1/h1
  +h1('form__h1', 'Найдём номера под ваши пожелания')
  
  include ../datesHosting/datesHosting
  include ../guestHosting/guestHosting     
  include ../btn/btn
  +btn('btn-withArrow', '', 'Подобрать номер', 'btn__arrowBtn')