form.form.form__mainSection(action='#', method='GET')

  include ../h1/h1
  +h1('form__h1', 'Найдём номера под ваши пожелания')
  
  include ../dateDropDown/dateDropDown
  include ../guestDropDown/guestDropDown     
  include ../btn/btn
  +btn('btn-withArrow', '', 'Подобрать номер', 'btn__arrowBtn')