form.form(action='#', method='GET')

  include ../h1/h1
  +h1('form__h1', 'Регистрация аккаунта')

  include ../fieldInput/fieldInput
  +fieldInput('form__fieldInput','text', 'name','Имя')
  +fieldInput('form__fieldInput','text', 'surname','Фамилия')   
  
  
  include ../radioBtn/radioBtn    
  

  fieldset.form__data

    include ../h3/h3
    +h3('form__h3', 'Дата рождения')
    
    +fieldInput('dateBirth','text','','ДД.ММ.ГГГГ')
          
    

  fieldset.form__data
    
    +h3('form__h3', 'Данные для входа в сервис')
    
    +fieldInput('form__fieldInput','email', 'email','Email')
    +fieldInput('form__fieldInput','password', 'password','Пароль')
    

  include ../switch/switch

  include ../btn/btn
  +btn('btn-withArrow form__btn', '', 'Перейти к оплате', 'btn__arrowBtn')

  .form__container
    p Уже есть аккаунт на Toxin
    +btn('btn-transparent form__btn-transparent', '#', 'Войти')  