.dropdownList
  
  div.dropdownList__header
    span.dropdownList__span Дополнительные удобства    
    svg(class="arrowMore arrowMore-list")
      use(xlink:href="#iconMore")
  
  
  ul.dropdownList__ul
    li.dropdownList__li
      label.checkBtns__label
        input(type='checkbox' class='checkBtns__mark')
        .checkBtns__mark-fake      
        span.checkBtns__text Завтрак
    li.dropdownList__li
      label.checkBtns__label
        input(type='checkbox' class='checkBtns__mark')
        .checkBtns__mark-fake      
        span.checkBtns__text Письменный стол
    li.dropdownList__li
      label.checkBtns__label
        input(type='checkbox' class='checkBtns__mark')
        .checkBtns__mark-fake      
        span.checkBtns__text Стул для кормления
    li.dropdownList__li
      label.checkBtns__label
        input(type='checkbox' class='checkBtns__mark')
        .checkBtns__mark-fake      
        span.checkBtns__text Кроватка
    li.dropdownList__li
      label.checkBtns__label
        input(type='checkbox' class='checkBtns__mark')
        .checkBtns__mark-fake      
        span.checkBtns__text Телевизор
                
  