block variables 
-var mainSearch = true

.mainSearch
  .wrapper.mainSearch__wrapper
    .mainSearch__details
      include ../h3/h3
      +h3('form__h3', 'Даты пребывания в отеле')

      include ../fieldInput/fieldInput
      +fieldInput('dateBirth','text','','ДД.ММ.ГГГГ')

      include ../dropDown/dropDown-guest 

      include ../rangeslider/rangeslider
      
      include ../checkBtns/checkBtns

      +h3('', 'Доступность')
      include ../richCheckBtns/richCheckBtns      
      
      include ../extraAdvs/extraAdvs

      include ../dropDown/dropDown-room
      
    .mainSearch__rooms
      include ../h1/h1
      +h1('form__h1', 'Номера, которые мы для вас подобрали')
      .mainSearch__column 
        .mainSearch__column-item 
         
          include ../roomCard/roomCard
          +roomCard({
              image: 'lux',            
              class: 'roomHeader__roomCard',
              number: 888,
              type: 'люкс',
              price: '9 990₽',
              costPer: 'в сутки',
              star: 5,
              nFeedback: 145,
              feedback: 'Отзывов'        
              })

        .mainSearch__column-item 
          +roomCard({
              image: 'lux',            
              class: 'roomHeader__roomCard',
              number: 888,
              type: 'люкс',
              price: '9 990₽',
              costPer: 'в сутки',
              star: 5,
              nFeedback: 145,
              feedback: 'Отзывов'        
              }) 

        .mainSearch__column-item 
          +roomCard({
              image: 'lux',            
              class: 'roomHeader__roomCard',
              number: 888,
              type: 'люкс',
              price: '9 990₽',
              costPer: 'в сутки',
              star: 5,
              nFeedback: 145,
              feedback: 'Отзывов'        
              })           
            
      


  include ../pagination/pagination          
    
    
      

                         