.datesHosting
  fieldset.datesHosting__arrivals      
    legend.titleForm.datesHosting__titleForm Прибытие      
    
    input(type='text' class="datesHosting__field" data-multiple-dates-separator=" - " class="datepicker-here" placeholder="ДД.ММ.ГГГГ")
    a(class="datesHosting__arrowMore")
        svg(class="arrowMore")
          use(xlink:href="#iconMore")
      
      
  fieldset.datesHosting__departure      
    legend.titleForm.datesHosting__titleForm Выезд
          
    input(type='text' class="datesHosting__fieldEnd" placeholder="ДД.ММ.ГГГГ")
    a(class="datesHosting__arrowMore")
        svg(class="arrowMore")
          use(xlink:href="#iconMore")