fieldset.guestHosting
  legend.titleForm.guestHosting__titleForm Гости
  .guestHosting__select
    .guestHosting__label
      .guestHosting__title Сколько гостей
      a(class="guestHosting__arrowMore")
          svg(class="arrowMore")
            use(xlink:href="#iconMore")
    .guestHosting__dropdown
      .guestHosting__list
        .guestHosting__list-option(data-min='0' data-val='0' data-max='10' data-title='Взрослые')
        .guestHosting__list-option(data-min='0' data-val='0' data-max='5' data-title='Дети')
        .guestHosting__list-option(data-min='0' data-val='0' data-max='5' data-title='Младенцы')
      .guestHosting__btns 
        button(class='btn guestHosting__btn' type='button' data-action='clear') Очистить
        button(class='btn guestHosting__btn' type='button' data-action='apply') Применить
    input.guestHosting__output(type='hidden' name='select') 