form.mainCard(action='#', method='GET')
  h1.title.mainCard__title Найдём номера под ваши пожелания
  include datesHosting
  include guestHosting     
  include ../btn-mixin
  +btn('btn-withArrow', '', 'Подобрать номер', 'btn__arrowBtn')
    