main
  section.mainSection
    .wrapper
      include ../form/form-mainCard 
      p.mainSection__text
        | Лучшие номера для вашей работы,
        br
        |       отдыха и просто вдохновения
      