
.mainSection {
    background: url("../img/background-main.jpg") no-repeat;
    max-width: 100%;
    padding: 1px;
    
     
    
    &__text {
        display: block;
        position: relative;    
        bottom: 18px;
        font-size: 14px;
        text-align: right;
    }

    &__form {   
        
        margin-top: 70px; 
        margin-bottom: 386px; 
            
    }

    
  
}




