main
  section.mainSection
    .wrapper
      form.mainCard(action='#', method='GET')
        h1.title.mainCard__title Найдём номера под ваши пожелания
        .mainCard__dates
          fieldset.mainCard__datesArrivals
            legend.mainCard__dates-title Прибытие
            select#select_dates.mainCard__dates-select(name='dates')
              option(value='choise') ДД.ММ.ГГГГ
          fieldset.mainCard__datesDeparture
            legend.mainCard__dates-title Выезд
            select.mainCard__dates-select(name='dates')
              option(value='choise') ДД.ММ.ГГГГ
        fieldset.mainCard__guests
          legend.mainCard__dates-title Гости
          select.mainCard__guests-select(name='guests')
            option(value='choise') Сколько гостей
        button.btn.btn__withArrow(type='submit')
          svg.btn__arrow
            use(xlink:href='#iconArrow')
          |             Подобрать номер
      p.mainSection__text
        | Лучшие номера для вашей работы,
        br
        |       отдыха и просто вдохновения
      