doctype html
html(lang="ru")
  head
    meta(charset = "utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    title UI Kit
    link(href="css/styles.css" rel="stylesheet")    
    //link(rel="icon" href="../img/logo_sign.svg" sizes="any" type="image/svg+xml")
  body
    include elems/svg
    include elems/signInForm
    include elems/registerForm
    script(src="js/scripts.js")