doctype html
html(lang="ru")
  head
    meta(charset = "utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    title UI Kit
    link(href="css/styles.css" rel="stylesheet")    
    //link(rel="icon" href="../img/logo_sign.svg" sizes="any" type="image/svg+xml")
  body 
    .wrapperUi
      include svg/svg      
      include ../components/form/form-signIn
      include ../components/form/form-register
      include ../components/form/form-mainCard
      include ../components/form/form-cost
      include ../components/checkBtns/checkBtns
      include ../components/extraAdvs/extraAdvs
      include ../components/likeBtn/likeBtn
      include ../components/rateBtn/rateBtn
      include ../components/bullet/bullet
      include ../components/richCheckBtns/richCheckBtns
      include ../components/rangeslider/rangeslider
      include ../components/pagination/pagination
      include ../components/roomData/roomData
      include ../components/feedback/feedback
      
    script(src="js/scripts.js")