extends ../../library.pug
block checkBtns-block
  .checkBtns
    label.checkBtns__label
      input(type='checkbox' class='checkBtns__mark')
      .checkBtns__mark-fake      
      span.checkBtns__text Можно курить

    label.checkBtns__label
      input(type='checkbox' class='checkBtns__mark')
      .checkBtns__mark-fake      
      span.checkBtns__text Можно с питомцами

    label.checkBtns__label
      input(type='checkbox' class='checkBtns__mark')
      .checkBtns__mark-fake      
      span.checkBtns__text Можно пригласить гостей 
        br
        |(до 10 человек)     