.checkBtns
  label
    input(type='checkbox' class='checkBtns__mark')
    .checkBtns__mark-fake      
    span.checkBtns__text Можно курить

  label
    input(type='checkbox' class='checkBtns__mark')
    .checkBtns__mark-fake      
    span.checkBtns__text Можно с питомцами

  label
    input(type='checkbox' class='checkBtns__mark')
    .checkBtns__mark-fake      
    span.checkBtns__text Можно пригласить гостей (до 10 человек)     