-var classname = 'form__radioBtn'

.radioBtn(class= classname)
  label.radioBtn__label
    input(type='radio' class='radioBtn__input' name='human')
    span.radioBtn__fake
    span.radioBtn__text Мужчина
  label.radioBtn__label   
    input(type='radio' class='radioBtn__input' name='human')
    span.radioBtn__fake
    span.radioBtn__text Женщина