//block variables 
mixin roomCard(params) 


  //.roomCard(class={'mainSearch__roomCard': mainSearch})
  
  include ../slider/slider
  //include ../roomCard__pic/roomCard__pic
  //+roomCard__pic(params.image)
  
  include ../roomHeader/roomHeader 
  +roomHeader(params.class, params.number, params.type, params.price, params.costPer)
    
  .roomCard__line 
  .roomCard__bottom
    .roomCard__rateBtns

      include ../rateBtn/rateBtn
      - 
        let startStars = 1;
        let classActive = "colored";
      while startStars <= 5
        - if(params.star < startStars) {classActive = "uncolored";}        
        +rateBtn(classActive)
        - startStars++;      
      
    p.roomCard__halfData
      span.roomCard__cost= params.nFeedback  
      span.roomCard__feedback= params.feedback
          