.roomCard {
    width: 270px;
    height: 257px;
    background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
border-radius: 4px;


.form__dataHeader-card {
    margin: 19px 16px 10px 20px;
}

&__pic {
    background: url(../img/lux-image.jpg);
    border-radius: 4px 4px 0 0;
    height: 150px;
    max-width: 100%;
}

.line {
    width: 233px;
    height: 1px;
    background: rgba(31, 32, 65, 0.1);
    //margin-bottom: 20px;
    margin: 0 auto;
  }

.bottom {
    margin: 8px 16px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form__costPer-feedback {
    font-size: 14px;
}

}