header.header
  .wrapper
    .header__row
      include ../logo/logo
      +logo('header__imgLogo')      

      include ../menuList/menuList    
      
      include ../btn/btn
      +btn('btn-transparent header__btn-transparent', '#', 'Войти')
      
      +btn('header__btn', '#', 'Зарегистрироваться')
      
      

      
      