.feedback
  .feedback__person
    .feedback__img
    .feedback__text
      include ../h2/h2
      +h2('feedback__h2', 'Мурад Сарафанов')
      span.text 5 дней назад
  .feedback__rest
    include ../likeBtn/likeBtn
    p.text.feedback__text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий.
      br
      | И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто
      br
      | не жаловался из соседей.