body {
    font-family: 'Montserrat', 'sans-serif';    
    font-size: 14px;
    line-height: 22px;
    font-weight: 400; 
    font-style: normal;
  }

  @font-face{ //подумать про FontFaceObserver
    font-family: 'Quicksand';     
    src: local('Quicksand'),
         url("../fonts/Quicksand-Bold.woff2") format("woff2"),
         url("../fonts/Quicksand-Bold.woff") format("woff");       
    font-weight: 700;    
    font-style: normal;
    font-display: fallback;     
    }

 @font-face{
    font-family: 'Montserrat';     
    src: local('Montserrat'),
         url("../fonts/Montserrat-Bold.woff2") format("woff2"),
         url("../fonts/Montserrat-Bold.woff") format("woff");       
    font-weight: 700;    
    font-style: normal; 
    font-display: fallback;   
    }

    @font-face{
      font-family: 'Montserrat';          
      src: local('Montserrat'),
           url("../fonts/Montserrat-Regular.woff2") format("woff2"),
           url("../fonts/Montserrat-Regular.woff") format("woff");       
      font-weight: 400;    
      font-style: normal; 
      font-display: fallback;    
      }


      .imgLogo {
          width: 105px;
          height: 40px;
              
      }
 

      