body {
    font-family: @default-font;    
    font-size: 14px;
    line-height: 22px;
    font-weight: 400; 
    font-style: normal; 
    max-width: 100%; 
    
    
  };

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
  }; 

.text {
color: rgba(31, 32, 65, 1);
opacity: 0.75;
}  

.title {
  font-family: 'Quicksand', 'Arial Black', 'sans-serif';
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: @color_blue-dark;
  //margin-bottom: 20px;
}


.imgLogo {
    width: 105px;
    height: 40px;              
}

.titleForm {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: @color_blue-dark;
}

.fieldInput {    
  width: 100%;
  border-radius: 5px;
  border: 1px solid @color_blue-dark;
  opacity: 0.25;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer; 
} 

.list__item {
  margin: 10px 0;
};

.list__link {
  color: #1F2041;
  opacity: 0.5;
  text-decoration: none;
}
 

      