body {
    font-family: @default-font;    
    font-size: 14px;
    line-height: 22px;
    font-weight: 400; 
    font-style: normal;
  }

.text {
color: rgba(31, 32, 65, 1);
opacity: 0.75;
}  

.title {
  font-family: 'Quicksand', 'Arial Black', 'sans-serif';
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: @color_blue-dark;
  //margin-bottom: 20px;
}


.imgLogo {
    width: 105px;
    height: 40px;              
}
 

      