section.mainBack
  form.signIn(action='#', method='GET')
    h1.title.signIn__title Войти      
    input.signIn__field(type='email', name='email', placeholder='Email')
    input.signIn__field(type='password', name='email', placeholder='Пароль')      
      
    button.btn.btn-withArrow.btn-signInForm(type='submit')
      svg.arrowBtn
        use(xlink:href='#iconArrow')
      |             Войти
    .container
      p Нет аккаунта на Toxin?
      a(class="btn__transparent btn__transparent-signInForm" href="#0")
          span Создать  