mixin btn(classname, href, text, icon)
  if (href)
    a.btn(class= classname)= text
      
  else
    button.btn(class= classname type='submit')= text
      svg(class= icon)
        use(xlink:href='#iconArrow') 
      

