.roomData
  svg(class="roomData__icon")
    use(xlink:href='#insert_emoticon')  
    //use(xlink:href='/img/sprite.svg#insert_emoticon') не работает в гугле на локалхост
  .roomData__description
    include ../h2/h2
    +h2('roomData__h2', 'Комфорт')      
    span.text Шумопоглащающие стены
.roomData__line

.roomData
  svg(class="roomData__icon")
    use(xlink:href='#location_city')  
    //use(xlink:href='/img/sprite.svg#insert_emoticon') не работает в гугле на локалхост
  .roomData__description
    include ../h2/h2
    +h2('roomData__h2', 'Удобство')      
    span.text Окно в каждой из спален
.roomData__line
    
    

  