section.footerSectionAside
  svg(class="imgLogo")
    use(xlink:href="#iconToxin")
  p.text.footerSection__text
    | Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные
    | взгляды»
section.footerSectionNav
  h2.footerSection__title
    | Навигация
  ul.footerList
    li.footerList__item
      a.footerList__link(href='#0') О нас
    li.footerList__item
      a.footerList__link(href='#0') Новости
    li.footerList__item
      a.footerList__link(href='#0') Служба поддержки
    li.footerList__item
      a.footerList__link(href='#0') Услуги
section.footerSectionNav
  h2.footerSection__title
    | О нас
  ul.footerList
    li.footerList__item
      a.footerList__link(href='#0') О сервисе
    li.footerList__item
      a.footerList__link(href='#0') Наша команда
    li.footerList__item
      a.footerList__link(href='#0') Вакансии
    li.footerList__item
      a.footerList__link(href='#0') Инвесторы
section.footerSectionNav
  h2.footerSection__title
    | Служба поддержки
  ul.footerList
    li.footerList__item
      a.footerList__link(href='#0') Соглашения
    li.footerList__item
      a.footerList__link(href='#0') Сообщества
    li.footerList__item
      a.footerList__link(href='#0') Связь с нами
section.footerSectionAside
  h2.footerSection__title
    | Подписка
  p.text.footerSection__text Получайте специальные предложения и новости сервиса