ul.socialIcons
  li.socialIcons__item
    a.socialIcons__icon(href='#0')
      svg.socialIcons__icon-twitter
        use(xlink:href='#iconTwitter')
  li.socialIcons__item
    a.socialIcons__icon(href='#0')
      svg.socialIcons__icon-fb
        use(xlink:href='#iconFb')
  li.socialIcons__item
    a.socialIcons__icon(href='#0')
      svg.socialIcons__icon-insta
        use(xlink:href='#iconInsta')


        