form.subscriptionForm(action='#', method='GET')
  input.subscriptionForm__field(type='email', name='email', placeholder='Email')
  include ../btn/btn
  +btn('btn-oneArrow', '', '', 'btn__oneArrow')
  