
.mainCard {
    max-width: 380px;
    min-width: 300px;    
    border-radius: 5px;
    background-color: white;    
    margin-top: 70px;   
    margin-bottom: 386px;    
    padding: 40px 30px 30px 30px;
    box-sizing: border-box;    
}

.mainCard__title {    
    margin-bottom: 20px;
  }



.mainCard__dates {
    display: flex;    
    flex-wrap: nowrap;
    justify-content: space-between;      
}
.mainCard__datesArrivals {
    width: 47%;
}

.mainCard__datesDeparture {
    width: 47%; 
}

.mainCard__dates-title {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: @color_blue-dark;
}


.mainCard__dates-select {
    padding: 12px;
    color: @color_blue-dark;
    opacity: 0.75;
    width: 100%;          
}


.mainCard__guests {    
    margin-top: 20px;
    margin-bottom: 30.44px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.mainCard__guests-select {    
    padding: 12px;
    color: @color_blue-dark;
    opacity: 0.75;
    width: 100%;
}



