.slider  
  .slider__item 
    img(class="slider__img" src='../img/triple-image.jpg' alt="номер в отеле")
  .slider__item  
    img(class="slider__img" src='../img/lux-image.jpg' alt="номер люкс в отеле")
  .slider__item  
    img(class="slider__img" src='../img/double-image.jpg' alt="номер в отеле")
  .slider__item  
    img(class="slider__img" src='../img/redLux-image.jpg' alt="номер люкс в отеле")
   

  